<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
</head>

<body>
  <h1>Welcome to mj Express Service!</h1>
  <h2 class="login"><a href="/login">로그인 </a></h2>
  <h2 class="register"><a href="/register">회원가입 </a></h2>

  <h2><a href="/dbBoard">게시판 서비스</a></h2>
  <script>
    // console.log(document.cookie);
    // 데이터 구분은 ; 사용
    // document.cookie = "user=mj; express=17 Mar 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=web; express=17 Mar 2023 13:00:00 GMT; path=/";

    console.log(document.cookie);
  </script>

  <img src="/images/1.jpg" alt="포뇨">
</body>

</html>